#credentials-page{
  width: 100%;
  max-width: 1440px;
  margin: auto;
}

#credentials-page .credentials {
  text-align: center;
  padding: 2rem;
  max-width: 1440px;
  margin: auto;
}

.credentials h2 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.credentials p {
  color: #777;
  margin-bottom: 1rem;
  text-align: center;
}

#credentials-page .filters {
  margin: 1.5rem 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

#credentials-page .filters button {
  padding: 0.5rem 1.2rem;
  border: none;
  border-radius: 10px;
  background: #eee;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

#credentials-page .filters button.active {
  background: #000;
  color: #fff;
}

#credentials-page .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1.5rem;
  margin-top: 1.5rem;
}

#credentials-page .card {
  background: white;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 8px 20px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#credentials-page .card img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  margin-bottom: 1rem;
}

#credentials-page .card h4 {
  margin: 0.5rem 0 0.2rem;
}

#credentials-page .card p {
  font-size: 0.85rem;
  color: #555;
}

#credentials-page .stack {
  margin-top: auto;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin-top: 1rem;
}

#credentials-page .stack img {
  width: 25px;
  height: 25px;
}
